<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>State of the Map Japan 2024 - State of the Map Japan 2024</title>
  <meta name="description"
    content="{% include about.html %}
{% include news.html %}
{% include outline.html %}
{% comment %}
{% include speaker.html %}
{% include...">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  <link rel="stylesheet"
    href="/2024/css/bootstrap-icons-1.9.1/bootstrap-icons.css?v=3c2ee9bcc1b8fd61e928d4b80f7e3a055c0fd8f0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/2024/css/style.css?v=3c2ee9bcc1b8fd61e928d4b80f7e3a055c0fd8f0">
  
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./img/icons/favicon-16x16.png">
  <link rel="manifest" href="./img/icons/site.webmanifest">
  <link rel="mask-icon" href="./img/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="State of the Map Japan">
  <meta name="application-name" content="State of the Map Japan">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#f4f3f1">
  <!-- OGP -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://stateofthemap.jp/2024/">
  <meta property="og:image" content="https://stateofthemap.jp/2024/img/ogimage.png">
  <meta property="og:title" content="State of the Map Japan 2024">
  <meta property="og:description" content="世界を自由な地図にしよう">
  <meta property="og:locale" content="ja">
  <meta property="og:updated_time" content="2024-10-02T00:30:00+09:00" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@osmfj">
</head>

<body>
  <div class="navbar navbar-expand-lg bg-light fixed-top" style="width:100vw;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SOTM Japan 2024</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
      aria-controls="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand offcanvas-title" href="#">SOTM Japan 2024</a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto">
          <!-- li class="nav-item"><a href="https://sotmjp2024.peatix.com/" class="nav-link">参加登録</a></li -->
          <li class="nav-item"><a href="./index.html#about" class="nav-link">SOTMJについて</a></li>
          <li class="nav-item"><a href="./index.html#news" class="nav-link">お知らせ</a></li>
          <li class="nav-item"><a href="./index.html#event-outline" class="nav-link">開催概要</a></li>
          <li class="nav-item"><a href="./index.html#timetable" class="nav-link">タイムテーブル</a></li>
          <li class="nav-item"><a href="./index.html#sponser" class="nav-link">スポンサー</a></li>
          <li class="nav-item"><a href="./coc.html" class="nav-link">行動規範</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <header>
  <div class="container text-white py-5">
    <div class="row text-center mt-5 my-xxl-5 py-xxl-5">
      <div class="col-12 col-lg-4 my-xxl-5 py-xxl-5">
        <img src="./img/sotmjapan-logo.webp" alt="" width="200vw">
      </div>
      <div class="col my-xxl-5 py-xxl-5">
        
        <h1 class="display-4 fw-bold">State of the Map Japan 2024</h1>
        <h2 class="h4 fw-bold">同時開催: FOSS4G Hokkaido 2024</h2>
        <h2 class="h4 fw-bold">2024年2月15日 (土曜日) 13:00 - 18:00 EZOHUB SAPPORO BOOK LAUNGE<br>
        カンファレンス開催テーマ「Re:mapping」</h2>
        <!-- button class="btn btn-light m-2" onclick="location.href='https://sotmjp2024.peatix.com/'">今すぐ登録</button -->
      </div>
    </div>
  </div>
</header>

<main>

  <section class="even" id="about">
  <div class="container pt-5 pb-5">
    <h2 class="display-6 fw-bold mb-4"><i class="bi bi-map"></i> State of the Map Japanについて</h2>
    <div class="row justify-content-center">

      <p>OpenStreetMapは「自由な地図をみんなの手に」をスローガンに作成した地図データの集合体です。わたしたちは、この活動をさらに発展させるためにカンファレンスを企画しました。
        <a style="color:white;" data-bs-toggle="collapse" href="#moreAbout" role="button" aria-expanded="false" aria-controls="moreAbout">(もっと読む)</a>
      </p>
      <div class="col-lg ms-auto collapse" id="moreAbout">
        <p>State of the Map（以下 SotM）は、世界中の多様な人々が紡ぐ世界地図プロジェクト
          OpenStreetMap(以下 OSM
          )の国際カンファレンスシリーズであり、OSM編集者(マッパー)、技術者、OSMを利活用・支援する企業や団体など、世界のコミュニティが一同に介するカンファレンスとして、2008年から続けられています。</p>
        <p>日本では2012年9月に東京でアジア・オセアニア地域初の国際カンファレンスを開催しました。その後、東京を中心に国内カンファレンスを開催しています。
          2017年は会津若松で国際カンファレンスを誘致し、世界各国の参加者による交流を行いました。</p>

        <p>SotM Japanでは、全世界版のSotMの趣旨および価値観をそのままに、日本および日本語でのOSM活動について、新しいアイディアや開発手法、利用方法、ビジネス事例、将来像についてディスカッションを行います。</p>
      </div>
    </div>
  </div>
</section>
<section id="news">
  <div class="container py-4 py-xl-3">
    <div class="row justify-content-center">
      <div class="col">

        <div class="card">
          <div class="card-body">
            <h2 class="display-6 fw-bold mb-4"><i class="bi bi-newspaper"></i> お知らせ</h2>
            <div class="row">
              <div class="container col-md-12 col-sm-12">
              <!-- 
                <img src="./img/group_picture.jpg" class="w-100 pb-3">
              -->
              </div>
            </div>

            <div class="row">
              <div class="container col-md-12 col-sm-12">
                <div class="overflow-auto" style="height:440px;">
                  <ul>
                    <li>2024/10/02 ホームページを公開しました</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="event-outline">
  <div class="container py-4 py-xl-1">
    <div class="row justify-content-center">
      <div class="col">

        <div class="card">
          <div class="card-body">

            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <h2 class="display-6 fw-bold mb-4"><i class="bi bi-card-text"></i> 開催概要</h2>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>タイトル: State of the Map Japan 2024</li>
                    <li>開催テーマ: Re:mapping</li>
                    <li>開催日時: 2024年2月15日(土曜日) 13:00 - 18:00</li>
                    <li>同時開催: <a href="https://foss4g.hokkaido.jp/2024/" target="_blank">FOSS4G Hokkaido 2024</a></li>
                    <li>
                      開催場所: EZOHUB SAPPORO BOOK LAUNGE <a href="https://osm.org/go/7XGQI~Vn?m="><i class="bi bi-map-fill"></i></a><br />
                      〒060-0908 北海道札幌市東区北8条東4丁目1-20 2階
                    </li>
                    <li>参加費: 無料</li>
                    <li>主催:
                      <ul>
                        
                        <li><a href="https://stateofthemap.jp/2024/">State of the Map Japan 2024 実行委員会</a></li>
                        
                      </ul>
                    </li>
                    <li>実行委員長: </li>
                    <li>共催:
                      <ul>
                        
                        <li><a href="https://www.osmf.jp/">一般社団法人 OpenStreetMap Foundation Japan</a></li>
                        
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-5">
                  <ul>
                    <li>後援:
                      <ul>
                        
                      </ul>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
            <p class="card-text text-center">OpenStreetMap編集者、企業、技術者、研究者、行政関係者、シビックテックなどのコミュニティが集まり、各地・各領域の発表や交流を行います。</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="even" id="committee">
  <div class="container pb-5">
    <h2 class="display-6 fw-bold mb-4"><i class="bi bi-chat-text"></i> 実行委員会について</h2>
    <div class="row justify-content-center">
      <div class="col-lg-10 mx-auto">

        <p>State of the Map Japan 2024 実行委員会は OpenStreetMap Japan Discord にて運用をしています。</p>
        <p>実行委員会に興味のある方は OpenStreetMap Japan Discord の <q>#50_sotmjp2024</q> に<a href="https://discord.gg/pNuUM99kUX" class="text-white fw-bold">参加</a> してください。議事録などは原則公開しています。</p>

        <h3>Contributor(順不同)</h3>
        <div class="row">
          <div class="col-lg-4">
            <ul>
              <li>三浦広志</li>
              <li>Hokkosha</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>松澤太郎(smellman)</li>
              <li>ikiya</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>坂ノ下勝幸</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<script src="https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.js"></script>

<link href="https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.css" rel="stylesheet" />

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col" style="height: 40vh;">
        
        <div id="map" style="width: 100%; height: 100%;"></div>
        <script>
          const map = new maplibregl.Map({
            container: 'map',
            style: 'files/style.json',
            center: [141.35982, 43.07185],
            zoom: 14,
            pitch: 30,
          });
          map.addControl(new maplibregl.NavigationControl());
          const marker = new maplibregl.Marker()
            .setLngLat([141.35982, 43.07185])
            .addTo(map);
        </script>
        <small><a class="nav-link text-white text-capitalize text-end" href="https://www.openstreetmap.org/?mlat=43.07185&amp;mlon=141.35982#map=14/43.07185/141.35982">大きな地図を表示</a></small>
      </div>
    </div>
  </div>
</section>


</main>

  <footer class="p-2">
  <div class="container py-4 px-xxl-5">
    <div class="row justify-content-center">

      <div class="col-6 col-md-5 col-lg-4 mb-4">
        <ul class="nav flex-column">
          <li class="nav-item"><a href="./index.html#about" class="nav-link text-white">SOTMJについて</a></li>
          <li class="nav-item"><a href="./index.html#news" class="nav-link text-white">お知らせ</a></li>
          <li class="nav-item"><a href="./index.html#event-outline" class="nav-link text-white">開催概要</a></li>
          <li class="nav-item"><a href="./index.html#sponser" class="nav-link text-white">スポンサー</a></li>
          <li class="nav-item"><a href="./index.html#timetable" class="nav-link text-white">タイムテーブル</a></li>
          <!-- li class="nav-item"><a href="https://sotmjp2024.peatix.com/" class="nav-link text-white">参加登録</a></li -->
          <li class="nav-item"><a href="./coc.html" class="nav-link text-white">行動規範</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-5 col-lg-4 mb-4">
        <ul class="nav flex-column">
        
        <li class="nav-item"><a href="https://twitter.com/osmfj" class="nav-link text-white text-capitalize"><i class="bi-twitter"></i> OpenStreetMap Foundation Japan</a></li>
        
        <li class="nav-item"><a href="https://www.facebook.com/osmfj" class="nav-link text-white text-capitalize"><i class="bi-facebook"></i> OpenStreetMap Foundation Japan</a></li>
        
        <li class="nav-item"><a href="https://www.youtube.com/channel/UCKS6DjwrVC1gEx6PO0nX3TQ" class="nav-link text-white text-capitalize"><i class="bi-youtube"></i> youtube</a></li>
        
        <li class="nav-item"><a href="https://github.com/osmfj" class="nav-link text-white text-capitalize"><i class="bi-github"></i> github</a></li>
        
        <li class="nav-item"><a href="https://wiki.openstreetmap.org/wiki/JA:Main_Page" class="nav-link text-white text-capitalize"><i class="bi-pencil-square"></i> wiki</a></li>
        
      </div>

      <div class="text-center col-6 col-md-4 col-lg-3 mb-4">
        <img src="./img/sotmjapan-logo.webp" alt="" width="50%">
      </div>

    </div>
  </div>
  <p class="m-0 p-0 text-end text-white" style="font-size: 9pt;"><small>Cover image ススキノ Creative Commons License <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ja" class="text-white">表示-継承 4.0 国際(CC BY-SA 4.0)</a></small></p>
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>