/*
  Sponsor logo size
*/
.sponsorlist {
  margin-bottom: 1.5rem; }

.sponsorlist h2 {
  margin-bottom: 0rem; }

.sponsorlist .logo {
  display: inline-block;
  margin-bottom: 10px; }

.gold-sponsor .logo {
  width: 45%;
  text-align: center; }

.silver-sponsor .logo {
  width: 30%; }

.supporter-sponsor .logo {
  width: 23%; }
