<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>State of the map Japan 2022 in Kakogawa - State of the Map Japan 2022</title>
  <meta name="description"
    content="{% include about.html %}
{% include outline.html %}
{% include committee.html %}
{% include map.html %}
">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="/2022/css/bootstrap-5.2.1/css/bootstrap.min.css?v=793202a730e6a05f155e26ac984e80735c50b0aa">
  <link rel="stylesheet"
    href="/2022/css/bootstrap-icons-1.9.1/bootstrap-icons.css?v=793202a730e6a05f155e26ac984e80735c50b0aa">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/2022/css/style.css?v=793202a730e6a05f155e26ac984e80735c50b0aa">
  
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
  <link rel="manifest" href="/img/icons/site.webmanifest">
  <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="State of the Map Japan">
  <meta name="application-name" content="State of the Map Japan">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#f4f3f1">
  <!-- OGP -->
  <meta property="og:type" content="">
  <meta property="og:url" content="/">
  <meta property="og:image" content="/img/sotmjapan-logo.webp">
  <meta property="og:title" content="State of the Map Japan 2022">
  <meta property="og:description" content="世界を自由な地図にしよう">
  <meta property="og:locale" content="ja">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@osmfj">
  <meta property="og:url" content="/">
  <meta property="og:title" content="State of the Map Japan 2022">
  <meta property="og:description" content="世界を自由な地図にしよう">
  <meta property="og:image" content="/img/sotmjapan-logo.webp">
</head>

<body>
  <div class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SOTM Japan 2022</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
      aria-controls="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand offcanvas-title" href="#">SOTM Japan 2022</a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a href="/#about" class="nav-link">SOTMJについて</a></li>
          <li class="nav-item"><a href="/#event-outline" class="nav-link">開催概要</a></li>
          <li class="nav-item"><a href="/#about" class="nav-link">参加申し込み</a></li>
          <li class="nav-item"><a href="/coc/" class="nav-link">行動規範</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <header>
  <div class="container text-white py-5">
    <div class="row text-center mt-5 my-xxl-5 py-xxl-5">
      <div class="col-12 col-lg-4 my-xxl-5 py-xxl-5">
        <img src="/img/sotmjapan-logo.webp" alt="" width="200vw">
      </div>
      <div class="col my-xxl-5 py-xxl-5">
        
        <h1 class="display-3 fw-bold">State of the map Japan 2022 in Kakogawa</h1>
        <h2 class="h4 fw-bold">2022年12月3日 (土曜日) 13:00 - 18:00 加古川市商工会議所</h2>
        <p class="lead fs-6">オープンストリートマップは「自由な地図をみんなの手に」をスローガンに、日本や世界の自由につかえる地図を実現していこうとボランティアが草の根で作成した地図データの集合体です。わたしたちは、この活動をさらに発展させるためにカンファレンスを企画しました</p>
        <!--
        <button class="btn btn-light" onclick="loction.href='https://example.com/'">今すぐ登録</button>
        -->
      </div>
    </div>
  </div>
</header>

<main>

  <section class="even" id="about">
  <div class="container py-4 py-xl-5">
    <h2 class="display-6 fw-bold mb-4"><i class="bi bi-map"></i> State of the Map Japanについて</h2>
    <div class="row justify-content-center">
      <div class="col-lg-5 ms-auto">
        <p>
          オープンストリートマップは、「自由な地図をみんなの手に」をスローガンに、日本や世界の自由につかえる地図を実現していこうと、ボランティアが草の根で作成した地図データの集合体です。わたしたちは、この活動をさらに発展させるために、カンファレンスを企画しました。
        </p>

        <p>
          一般社団法人オープンストリートマップ・ファウンデーション・ジャパン（以下OSMFJ）では、OSM活動のより一層の浸透と企業を含む参加者同士の交流、コミュニティの活性化、地理空間情報利活用の推進、さらには、継続的なビジネスの発展と新たな市場の想像を目指し、State
          of the Map Japan 2022 （以下SotM Japan）カンファレンスを開催することとしました。</p>

        <p>State of the Map（以下 SotM）は、世界中の多様な人々が紡ぐ世界地図プロジェクト
          OpenStreetMapの国際カンファレンスシリーズであり、OSM編集者であるマッパー、IT技術者、OSMデータを利活用・支援する企業や団体など、世界のコミュニティが一同に介するカンファレンスとして、2008年から続けられています。
        </p>
      </div>
      <div class="col-lg-5 me-auto">
        <p>日本地域においては、2012年9月に東京で行われたアジア・オセアニア地域初であるSotM
          2012世界総会をスタートとして、2014年より、日本地域におけるローカルカンファレンスとして、2014年の東京、2015年には浜松と、継続して開催されています。
          2017年は会津若松で国際カンファレンスを誘致し、世界各国からのマッパーによる交流を行いました。2018年には、東京の日比谷図書文化館で、図書館とOSMをつなぐ活動について議論しました。2020年には、FOSS4G
          Japanカンファレンスと共同で、オンラインでの開催を実施をしました。
        </p>

        <p>SotM Japanでは、全世界版のSotMの趣旨および価値観をそのままに、日本および日本語でのOSM活動について、新しいアイディアや開発手法、利用方法、ビジネス事例、将来像についてディスカッションを行います。
        </p>

        <p>主催は、Code for Harima及びOSMFJメンバーを主体とするSotM Japan実行委員会が行い、OSMFJは全面的に協力いたします。</p>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-4 py-xl-5">
    <h2 class="display-6 fw-bold mb-4" id="event-outline"><i class="bi bi-card-text"></i> 開催概要</h2>
    <div class="row justify-content-center">
      <div class="col">

        <div class="card">
          <div class="card-body">

            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>イベントタイトル: State of the Map Japan 2022</li>
                    <li>開催日時: 2022年12月3日(土曜日) 13:00 - 18:00</li>
                    <li>
                      開催場所: 加古川市商工会議所<br />
                      〒675-0064 兵庫県加古川市加古川町溝之口800<br />
                      (34.76448, 134.84012 / EPSG:4326)
                    </li>
                    <li>参加費: 無料</li>
                    <li>主催:
                      <ul>
                        
                        <li><a href="https://stateofthemap.jp/2022/">State of the Map Japan 2022 実行委員会</a></li>
                        
                        <li><a href="https://facebook.com/codeforharima/">Code for Harima</a></li>
                        
                      </ul>
                    </li>
                    <li>実行委員長: 福田 宏司(Code for Harima)</li>
                    <li>共催:
                      <ul>
                        
                        <li><a href="https://osmf.jp/">一般社団法人 OpenStreetMap Foundation Japan</a></li>
                        
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-5">
                  <ul>
                    <li>後援:
                      <ul>
                        
                        <li><a href="https://okfn.jp/">オープン・ナレッジ・ファウンデーション・ジャパン</a></li>
                        
                        <li><a href="https://www.code4japan.org/">Code for Japan</a></li>
                        
                        <li><a href="https://www.ospn.jp/">Open Source People Network</a></li>
                        
                        <li><a href="http://crisismappers.jp/">NPO法人CrisisMappers Japan</a></li>
                        
                        <li><a href="https://twitter.com/youthmappers4a1">YouthMappers AGU</a></li>
                        
                        <li><a href="https://www.aoyama.ac.jp/faculty/gsc/">青山学院大学 地球社会共生学部</a></li>
                        
                        <li><a href="https://www.osgeo.jp/">一般社団法人OSGeo日本支部 （OSGeo.JP）</a></li>
                        
                        <li><a href="https://www.code4lib.jp/">Code4Lib JAPAN</a></li>
                        
                      </ul>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
            <p class="card-text">参加者の属性としては、OSM編集者、OSMデータ利用企業、地理空間情報技術者、学術利用者、行政関係者、シビックテックを始めとするコミュニティなどが中心となります。地方からの参加・発表も予定しています</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="even" id="committee">
  <div class="container py-4 py-xl-5">
    <h2 class="display-6 fw-bold mb-4"><i class="bi bi-chat-text"></i> 実行委員会について</h2>
    <div class="row justify-content-center">
      <div class="col-lg-10 mx-auto">

        <p>State of the Map Japan 2022 実行委員会は OpenStreetMap Japan Slack にて運用をしています。</p>

        <p>実行委員会に興味のある方は OpenStreetMap Japan Slack に <a href="https://bit.ly/OSM_Japan" class="text-white fw-bold">参加</a> して <q>#71_sotmjp2022</q> へご参加ください。また、議事録などは原則公開をしています。</p>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col ratio" style="--bs-aspect-ratio: 35vh;">
        
        <iframe class="m-0 p-0" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=134.8365515470505%2C34.76252190311351%2C134.84363257884982%2C34.76639996259122&amp;layer=mapnik&amp;marker=34.764460955626284%2C134.84009206295013"></iframe><br />
          <small><a href="https://www.openstreetmap.org/?mlat=34.764460955626284&amp;mlon=134.84009206295013#map=17/34.764460955626284/134.84009206295013">大きな地図を表示</a></small>
      </div>
    </div>
  </div>
</section>



</main>

  <footer class="p-2">
  <div class="container py-4 px-xxl-5">
    <div class="row justify-content-center">

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link text-white">プログラム</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-white">ポスター発表</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-white">チケット申し込み</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-white">開催場所</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link text-white">発表者募集</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-white">ポスター発表募集</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-white">企画募集</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-white">LT募集</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <ul class="nav flex-column">
        
        <li class="nav-item"><a href="https://twitter.com/osmfj" class="nav-link text-white text-capitalize"><i class="bi-twitter"></i> twitter</a></li>
        
        <li class="nav-item"><a href="https://www.facebook.com/osmfj" class="nav-link text-white text-capitalize"><i class="bi-facebook"></i> facebook</a></li>
        
        <li class="nav-item"><a href="https://www.youtube.com/channel/UCKS6DjwrVC1gEx6PO0nX3TQ" class="nav-link text-white text-capitalize"><i class="bi-youtube"></i> youtube</a></li>
        
        <li class="nav-item"><a href="https://t.me/osmjapan" class="nav-link text-white text-capitalize"><i class="bi-telegram"></i> telegram</a></li>
        
        <li class="nav-item"><a href="https://github.com/osmfj" class="nav-link text-white text-capitalize"><i class="bi-github"></i> github</a></li>
        
        <li class="nav-item"><a href="https://blog.openstreetmap.org/?lang=ja" class="nav-link text-white text-capitalize"><i class="bi-journal"></i> blog</a></li>
        
        <li class="nav-item"><a href="https://wiki.openstreetmap.org/wiki/JA:Main_Page" class="nav-link text-white text-capitalize"><i class="bi-pencil-square"></i> wiki</a></li>
        
      </div>

      <div class="text-center col-6 col-md-4 col-lg-3 mb-4">
        <img src="/img/sotmjapan-logo.webp" alt="" width="50%">
      </div>

    </div>
  </div>
  <p class="m-0 p-0 text-end text-white" style="font-size: 9pt;"><small>Cover image <a href="https://commons.wikimedia.org/w/index.php?curid=5567122&uselang=ja" class="text-white">加古川線加古川（上荘町）厄神ー市場</a> Creative Commons License <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.ja" class="text-white">表示 - 継承 3.0 非移植 (CC BY-SA 3.0)</a></small></p>
</footer>

  <script src="/2022/css/bootstrap-5.2.1/js/bootstrap.min.js"></script>
</body>

</html>